name: Test

on: [push, pull_request]

env:
  SCARB_VERSION: 0.7.0

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Scarb
        uses: software-mansion/setup-scarb@v1
      - name: Run cairo tests
        run: scarb test
  